lockfile=false

# If we are using a lockfile, ensure we use the newest format, which is a lot
# more readable when it comes to pnpm's peer dep resolution.
use-lockfile-v6=true

# As of pnpm v8, the default is "lowest", selecting the minimum version
# available in the package graph. But, on DT, we want to test the latest of
# everything.
resolution-mode=highest

# Prevent pnpm from hoisting eslint/prettier-ish packages.
# The first two are the defaults, but we don't want to also hoist packages
# like @types/eslint-scope (which exist in the types dir).
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=!@types/*

# Match npm's behavior and ensure we get all deps.
auto-install-peers=true
# Don't complain about peer dependencies; they're out of our control.
strict-peer-dependencies=false
# Don't use the top-level package.json to resolve conflicts.
resolve-peers-from-workspace-root=false
# https://github.com/pnpm/pnpm/issues/6300
dedupe-peer-dependents=false

# This is a variant of ignore-scripts which only applies to external
# dependencies, allowing the repo to have its own scripts if needed while still
# stopping random downloaded deps from executing code.
# TODO: use this once https://github.com/pnpm/pnpm/issues/7139 is fixed or we
# change shared-workspace-lockfile back to true.
# onlyBuiltDependencies also does not work, otherwise that'd be superior to either.
# ignore-dep-scripts=true
ignore-scripts=true

# Ensure that @types packages are resolved to this repo's packages where
# available.
prefer-workspace-packages=true
# And also to transitive dependencies.
link-workspace-packages=deep
# For manual invocations of `pnpm add`, don't save deps as "workspace:...".
save-workspace-protocol=false
# Ignore cycles; they are out of our control.
ignore-workspace-cycles=true
# Don't pull symlinks up out of workspace packages.
dedupe-direct-deps=false

# Remove once https://github.com/pnpm/pnpm/issues/6457 is fixed
# and we can set a hoisting limit of "workspaces" like in Yarn.
shared-workspace-lockfile=false
