# See https://github.com/OSS-Docs-Tools/code-owner-self-merge

README.ru.md @demensky @virzak [translation] [README-RU]
README.cn.md @Kerminate @kunl [translation] [README-CN]
README.ja.md @MaySoMusician @sasurau4 [translation] [README-JA]
README.ko.md @Ailrun @cimfalab [translation] [README-KO]
README.es.md @LuigiBaute @kant [translation] [README-ES]
README.pt.md @thzoid @cdias900  [translation] [README-PT]
