name: Remove contributors with deleted accounts

on:
  schedule:
    # https://crontab.guru/#0_0_*_*_1
    - cron: '0 0 * * 1'
  workflow_dispatch:
    inputs:
      skipPR:
        description: Push results straight to master instead of opening a PR
        required: false
        default: 'false'

permissions:
  contents: read

jobs:
  ghostbust:
    permissions:
      contents: write # for Git to git push
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-latest
    if: github.repository == 'DefinitelyTyped/DefinitelyTyped'

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4.0.0

      - uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
        with:
          run_install: |
            - args: [--filter, ., --filter, '{./scripts}...']

      - run: node ./scripts/ghostbuster.js
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_API_READ }}

      - if: ${{ inputs.skipPR == 'true' }}
        run: |
          if [ -n "`git status -s`" ]; then
            git config --global user.email "typescriptbot@microsoft.com"
            git config --global user.name "TypeScript Bot"
            git commit -am "Remove contributors with deleted accounts #no-publishing-comment"
            # Script can take a bit to run; with such an active repo there's a good chance
            # someone has merged a PR in that time.
            git pull --rebase
            git push
          fi

      - if: ${{ inputs.skipPR != 'true' }}
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Remove contributors with deleted accounts #no-publishing-comment'
          committer: 'TypeScript Bot <typescriptbot@microsoft.com>'
          author: 'TypeScript Bot <typescriptbot@microsoft.com>'
          branch: 'bust-ghosts'
          branch-suffix: short-commit-hash
          delete-branch: true
          title: Remove contributors with deleted accounts
          body: |
            Generated from [.github/workflows/ghostbuster.yml](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/.github/workflows/ghostbuster.yml)

            Some of these users may have simply changed their usernames; you may want do a bit of searching and ping them to see if they still want to be owners.
