name: Remove contributors with deleted accounts

on:
  schedule:
    # https://crontab.guru/#0_0_*_*_1
    - cron: '0 0 * * 1'
  workflow_dispatch:
    inputs:
      skipPR:
        description: Push results straight to master instead of opening a PR
        required: false
        default: 'false'

permissions:
  contents: read

jobs:
  ghostbust:
    permissions:
      contents: write # for Git to git push
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-latest
    if: github.repository == 'DefinitelyTyped/DefinitelyTyped'

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
        with:
          node-version: '20'

      - uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
        with:
          run_install: |
            - args: [--filter, ., --filter, '{./scripts}...']

      - run: node ./scripts/ghostbuster.js > ${{ runner.temp }}/comment.md
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_API_READ }}

      - if: ${{ inputs.skipPR == 'true' }}
        run: |
          if [ -n "`git status -s`" ]; then
            git config --global user.email "typescriptbot@microsoft.com"
            git config --global user.name "TypeScript Bot"
            git commit -am "Remove contributors with deleted accounts #no-publishing-comment"
            # Script can take a bit to run; with such an active repo there's a good chance
            # someone has merged a PR in that time.
            git pull --rebase
            git push
          fi

      - if: ${{ inputs.skipPR != 'true' }}
        uses: peter-evans/create-pull-request@b1ddad2c994a25fbc81a28b3ec0e368bb2021c50 # v6.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Remove contributors with deleted accounts #no-publishing-comment'
          committer: 'TypeScript Bot <typescriptbot@microsoft.com>'
          author: 'TypeScript Bot <typescriptbot@microsoft.com>'
          branch: 'bust-ghosts'
          branch-suffix: short-commit-hash
          delete-branch: true
          title: Remove contributors with deleted accounts
          body-path: ${{ runner.temp }}/comment.md
