name: Remove contributors with deleted accounts

on:
  schedule:
    # https://crontab.guru/#0_0_*_*_1
    - cron: '0 0 * * 1'
  workflow_dispatch:
    inputs:
      skipPR:
        description: Push results straight to master instead of opening a PR
        required: false
        default: 'false'

permissions:
  contents: read

jobs:
  ghostbust:
    permissions:
      contents: write # for Git to git push
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-latest
    if: github.repository == 'DefinitelyTyped/DefinitelyTyped'

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - uses: ./.github/actions/setup-for-scripts
      - run: node ./scripts/ghostbuster.js > ${{ runner.temp }}/comment.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ inputs.skipPR == 'true' }}
        run: |
          if [ -n "`git status -s`" ]; then
            git config --global user.email "typescriptbot@microsoft.com"
            git config --global user.name "TypeScript Bot"
            git commit -am "Remove contributors with deleted accounts #no-publishing-comment"
            # Script can take a bit to run; with such an active repo there's a good chance
            # someone has merged a PR in that time.
            git pull --rebase
            git push
          fi

      - if: ${{ inputs.skipPR != 'true' }}
        uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f # v7.0.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Remove contributors with deleted accounts #no-publishing-comment'
          committer: 'TypeScript Bot <typescriptbot@microsoft.com>'
          author: 'TypeScript Bot <typescriptbot@microsoft.com>'
          branch: 'bust-ghosts'
          branch-suffix: short-commit-hash
          delete-branch: true
          title: Remove contributors with deleted accounts
          body-path: ${{ runner.temp }}/comment.md
