name: Check Markdown links
on:
  pull_request:
    paths: "**.md"
jobs:
  lint-md:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npx remark --use validate-links --frail . .github
