name: Check Markdown links
on:
  pull_request:
    paths:
      - '**.md'
permissions:
  contents: read

jobs:
  lint-md:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npx remark --frail . .github
