name: Check Markdown links
on:
  pull_request:
    paths:
      - '**.md'
permissions:
  contents: read

jobs:
  lint-md:
    runs-on: ubuntu-latest
    if: github.repository == 'DefinitelyTyped/DefinitelyTyped'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/setup-for-scripts
      - run: pnpm remark --frail . .github
